<header class="flex w-[70%] p-10 justify-between">
  <img src="https://media.licdn.com/dms/image/D4D03AQEL_XRbbjtYfg/profile-displayphoto-shrink_200_200/0/1696117331991?e=1709769600&v=beta&t=ryfCYAgpaI7vgloodNtJrgKn45akEAYEcTs6vF65tYE" alt="kevin duhamel photo" class="h-20 rounded-full"/>
  <nav class="gap-10 flex opacity-80">
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/projects">projects</a>
    <a href="/contact">contact</a>

  </nav>
</header>